@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@300;400;500;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
/* colors world start */
.text-orange{color: #EA512E;}
.text-black{color: #1B0238;}
.bg-black{background: #141414;}
.bg-orange{background: #EA512E;}
.bg-yellow{background: #f5890d !important;}
.mt-10{margin-top: 100px;}
.mt-15{margin-top: 150px;}
.mt-20{margin-top: 200px;}
/* colors world ends */
/* header section start */
.button{
    width: 15%;
    height: 100%;
    font-size:15px;
    border: 1px solid #EA512E;
    border-radius: 10px;
    text-align: center;
    color: #fff;
    background: #EA512E;
    margin-left: 50px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    overflow: hidden;
}
.button button{
    color: #fff;
}
.btn::after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 101%;
    height: 100%;
    background: #f5890d;
    z-index: -1;
    color: #000;
    border: 1px solid #EA512E;
    border-radius: 10px;
    transition: transform 1s;
    transform-origin: 0 0;
}
.button button:hover{
    color: #000;
    transition: .5s;
}
.btn::after{
    transform: scaley(0);
}
.btn:hover::after{
    transform: scaleY(1);
}

a.active{
    color: #EA512E !important;
}
a.nav-link:hover,
a.dropdown-item:hover{
    color: #EA512E !important;
    transition: 0.2s linear;
}
.dropdown-menu{
    width: 240px;
    border: none;
    border-radius: 0px;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 15px 0px #ccc;
}
.dropdown:hover .dropdown-menu{
    display: block;
    margin-top: 10px;
}
/* header section end */

/* banner section start */
.banner{
    width: 100%;
    height: auto;
    position: relative;
}
.shape-1{
    width: 10%;
    top:2%;
    left: .7%;
    animation: move 3s linear alternate infinite;
}
@keyframes move {
    0%{}
    100%{left:3%;}
}

.shape-3{
    position: absolute;
    top: 60%;
    width: 9%;
    left: .7%;
    z-index: 100;
    animation: move3 3s linear alternate infinite;
}
@keyframes move3 {
    0%{}
    100%{left:3%;}
}
.shape-1-1{
    position: absolute;
    top: 76%;
    bottom: 0px;
    left: 2%;
    width: 20%;
    overflow-y: hidden;
}
.shape-2{
    position: absolute;
    width: 10%;
    left: 50%;
    top: 18px;
     animation: move2 1.5s linear alternate  infinite;;
}
@keyframes move2 {
    0%{

    }
    100%{
        transform: translateX(-40px);
    }
}
.shape-4{
    position: absolute;
    top: 75%;
    left: 45%;
    width: 12%;
    animation: move4 1.5s linear alternate infinite;
}
@keyframes move4 {
    0%{

    }
    100%{
        transform: translateY(-20px);
    }
}
/* banner section end */

/* kindergarten section start */
.who .col-lg-6 img{
    animation: animate 5s ease-in-out infinite;
    box-shadow: 20px 20px 0px 5px #EA512E, -30px -5px 0px 10px #f5890d;
    transition: all 1s ease-in-out;
}
@keyframes animate {
  0%, 100%{
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50%{
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

.who_we #we{
    font-family: 'Charm', cursive;
font-family: 'Courgette', cursive;
font-family: 'Croissant One', serif;
font-family: 'Dancing Script', cursive;
}

.who .list-unstyled span:hover{
    background: #f5890d;
    transition: 1s;
    cursor: pointer;
}
/* kindergarten section end */

/* core value section starts */

.core-value  .logo-1 {
    margin-top: 10px;
    margin-left: -100px;
}
.core-value .logo-2{
    margin-top: 30%;
    margin-left: -70px;
}
.core-value .logo-2 img{
    width: 120%;
}
.core-value .logo-4{
    margin-left: 45%;
    margin-top: -30%;
}
.core-value .logo-4 img{
    width: 500%;
}
#core-value{
    font-family: 'Charm', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Croissant One', serif;
    font-family: 'Dancing Script', cursive;
    }
.core-value .row #n1{
    background-color: #d3f5fe;
}
.core-value .row #n2{
    background-color: #fce0ad;
}
.core-value .row #n3{
    background-color: #fbc9d5;
}
.core-value #number:hover #n1,
.core-value #number2:hover #n2,
.core-value #number3:hover #n3
{
    background-color: #EA512E;
    color: #fff;
    transition: 1s;
}
.core-value  #number #n1::after{
    
    content: "";
    width: 5%;
    left: 50%;
    top: 24.50%;
    height: 10%;
    border: 2px solid #d3f5fe;
    border-radius: 200px;
    position: absolute;
}
.core-value  #number:hover #n1::after{
    border: 2px solid #EA512E;
    transition: 1s;
}
.core-value #number2 #n2::after{
    content: "";
    width: 5%;
    left: 50%;
    top: 50.50%;
    height: 10%;
    border: 2px solid #fce0ad;
    border-radius: 200px;
    position: absolute;
}
.core-value #number2:hover #n2::after{
    border: 2px solid #EA512E;
    transition: 1s;
}
.core-value #number3 #n3::after{
    content: "";
    width: 5%;
    left: 50%;
    top: 75%;
    height: 10%;
    border: 2px solid #fbc9d5;
    border-radius: 200px;
    position: absolute;
}
.core-value #number3:hover #n3::after{
    border: 2px solid #EA512E;
    transition: 1s;
}
/* core value section ends */


/* teacher section starts */
.teacher{
    background: #FAF5F1;
}
.teacher #oc{
    font-family: 'Charm', cursive;
    font-family: 'Courgette', cursive;
    font-family: 'Croissant One', serif;
    font-family: 'Dancing Script', cursive;
    font-weight: 600;
}
.view-more .vm{
    width: 15%;
    padding: 5px 10px;
    font-size: 18px;
    border-radius: 5px;
    background: #EA512E;
    color: #fff;
}
.view-more::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #f5890d;
    z-index: -1;
    color: #000;
    border-radius: 10px;
    transition: transform 1s;
    transform-origin: 0 0;
}

.view-more button:hover{
    color: #000;
    transition: 1s;
    background: #f5890d;
}
.view-more::after{
    transition: 1s;
}
.view-more:hover::after{
    transform: scaleY(1);
}


.teacher .social-media{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: -70px;
    transition: all 0.5s ease-in;
}
.teacher .teacher-image{
    z-index: 9 !important;
    animation: animate1 5s ease-in-out infinite;
    transition: all 1s ease-in-out;
}
.teacher .teacher-image::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    background-color: #EA512E;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    border-radius: 50%;
    transition: 0.5s;
    animation: border-transform-default 20s linear infinite alternate forwards;
}
@keyframes animate1 {
    0%, 100%{
      border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
    50%{
      border-radius: 80% 60% 70% 40% / 50% 60% 90% 60%;
    }
}

.card.teacher{
    height: auto;
    padding: 30px;
    text-align: center;
    border-radius: 49%;
    border: none;
    background-color: #fee9ca;;
}
.card.teacher div{
    width: 95px;
    height: auto;
    line-height: 75px;
    border-radius: 50%;
    background: #fff;
    margin: auto;
    transition: all 0.3s linear;
    margin-bottom: 10px;
}
.card.teacher:hover div{
    background:#EA512E;
    transition: all 0.3s linear ;
}
.card.teacher:hover div .fa-quote-left{
    color: #fff !important;
    transition: all 0.3s linear;
}

.testimonial .nav-button button{
    width: 50px;
    height: 50px;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
    line-height: 10px;
    text-align: center;
    border-radius: 50%;
    background: #EA512E;
    transition: 0.3s linear;
    margin-left: -40px;
    margin-right: -40px
}
.testimonial .nav-button button:hover{
    background: #f5890d;
    transition: 0.3s linear;
}
/* teacher section ends */


/* footer section start */
ul li{
    text-decoration: none;
    list-style: none;
    margin-top: 20px;
}
ul li a{
    font-size: 100%;
}
.single-footer-widget h3::after{
    position: absolute;
    content: "";
    width: 8%;
    margin-top: 40px;
    margin-left: -160px;
    height: 3px;
    border-radius: 10px;
    background: #EA512E;

}
/* footer section ends */








































/* Media Query Section Start */
@media screen and (max-width:1400px){

#core-value #n1{
    position: absolute;
    margin-top: -10%;
}

  .col-lg-6  #al h4{
    margin-top: 30px;
  }
    .core-value #number #n1::after{
        margin-left: -2px;  
        margin-top: -95px;
        width: 6%;
        height: 9%;
      }
    .core-value #number2 #n2::after{
        margin-left: -2px;  
        margin-top: -44px;
        width: 6%;
        height: 9%;
      }
    .core-value #number3 #n3::after{
        margin-left: -2px;  
        margin-top: -22px;
        width: 6%;
        height: 9%;
      }
}



@media screen and (max-width:992px) {
 .banner{
    padding: auto;
    background-position: 100% 100%;
    background-size: cover;
 }
 .button {
        height: 15%;   
        padding: 10px 10px;
        font-size: 15px;
        margin-top: 50%;
 } 
 .shape-1,
 .shape-2,
 .shape-3,
 .shape-1-1{
     display: none;
 }
.core-value #number #n1::after{
  margin-left: -362px;
  margin-top: 440px;
  width: 9%;
  height: 5%;
}
.core-value #number2 #n2::after{
  margin-left: -362px;  
  margin-top: 293px;
  width: 9%;
  height: 5%;
}
.core-value #number3 #n3::after{
  margin-left: -362px;  
  margin-top: 146px;
  width: 9%;
  height: 5%;
}
}
@media screen and (max-width:768){
    .banner{
        text-align: center;
        display: block;
        padding: auto;
    }
    .shape-1,
    .shape-2,
    .shape-3,
    .shape-1-1{
        display: none;
    }
}
@media screen and (max-width:576px) {
    .banner{
        text-align: center;
        display: block;
        padding: auto;
    }
    .shape-1,
    .shape-2,
    .shape-3,
    .shape-1-1{
        display: none;
    }
    .button{
        text-align: center;
        padding: 10px 20px;
        font-size: 10px;
        display: inline;
    }
  
}
@media screen and (max-width:1200px) {
   .button {
   text-align: center;
   width: 20%;
   display: inline;
   font-size: 12px; 
}
@media screen and (max-width:1199px) {
.core-value .col-10{
    margin-top: 10%;
}
}
}

